---
import { MacbookScroll } from "@/components/ui/macbook-scroll";
import { getLangFromUrl } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import Adventajes from "@/sections/Adventajes.astro";
import Brands from "@/sections/Brands.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
import Performances from "@/sections/Performances.astro";
import Pricing from "@/sections/Pricing.astro";
import Services from "@/sections/Services.astro";
import { getLandingData } from "@/services/data.service";

import "@/styles/global.css";
const lang = getLangFromUrl(Astro.url);
const data = await getLandingData({ lang });

let windowSize;
if (typeof window !== "undefined") {
  windowSize = window.innerWidth;
}
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main class="flex flex-col justify-center items-center">
    <div class="container w-full mr-auto ml-auto pr-8 pl-8">
      <Hero data={data.heroData} />
      <Services data={data.servicesData} />
      <Adventajes data={data.adventajesData} />
      <Brands data={data.brandsData} />
      <Performances data={data.performances} />
      <Pricing data={data.pricingData} />
    </div>

    <MacbookScroll
      src="/img.png"
      title="Nos dernières réalisations"
      client:load
    />

    <Footer data={data.footerData} />
  </main>
</Layout>
