---
import Action from "./Action.astro";

const { data, reversed, lang } = Astro.props;
---

<article
  class=`flex justify-between gap-x-32 flex-col mb-20 md:mb-40  rounded-lg p-8 ${reversed ? "md:flex-row-reverse bg-blue-500/30 " : "md:flex-row"}`
>
  <div class="md:w-3/4">
    <a href={data.frontmatter.url} class="text-xl font-semibold">
      <img
        src={data.frontmatter.image}
        alt={data.frontmatter.alt}
        class="w-fit"
      />
    </a>
  </div>
  <div class="flex flex-col md:w-5/6 gap-y-8">
    <h3 class="text-xl md:text-4xl">{data.frontmatter.title}</h3>
    <p class="md:text-xl">
      {
        lang === "en"
          ? data.frontmatter.subtitleEn
          : lang === "fr"
            ? data.frontmatter.subtitle
            : lang === "pt"
              ? data.frontmatter.subtitlePt
              : ""
      }
    </p>

    <p>
      {
        lang === "en"
          ? data.frontmatter.textEn
          : lang === "fr"
            ? data.frontmatter.text
            : lang === "pt"
              ? data.frontmatter.textPt
              : ""
      }
    </p>
    <Action
      as="a"
      type="button"
      class="bg-black text-white"
      href={data.frontmatter.url}
    >
      {
        lang === "en"
          ? data.frontmatter.actionEn
          : lang === "fr"
            ? data.frontmatter.action
            : lang === "pt"
              ? data.frontmatter.actionPt
              : ""
      }
    </Action>
  </div>
</article>
